force-app/main/default/flows/Create_Employee_and_Start_Approval_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_Approval</name>
        <label>Submit Approval</label>
        <locationX>1283</locationX>
        <locationY>628</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Submit_Employee_for_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Create_Employee</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Values_to_Employee</name>
        <label>Assign Values to Employee</label>
        <locationX>1122</locationX>
        <locationY>418</locationY>
        <assignmentItems>
            <assignToReference>EmployeeToCreate.School_Attended__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>School_Attended</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmployeeToCreate.Degree_Received__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Degree_Received</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmployeeToCreate.Social_Security_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Social_Security_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmployeeToCreate.GPA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GPA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmployeeToCreate.Store__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StoreRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Employee</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Employee_Exists</name>
        <label>Employee Exists?</label>
        <locationX>603</locationX>
        <locationY>428</locationY>
        <defaultConnector>
            <targetReference>Employee_Contact_and_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Employee Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Employee_Already_in_System</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Employee_Check</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Employee_Already_Exists</targetReference>
            </connector>
            <label>Employee Already in System</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Stores</name>
        <dataType>String</dataType>
        <displayField>Store_Owner__c</displayField>
        <object>Store__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Create Employee and Start Approval Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Employee and Start Approval Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Employee</name>
        <label>Create Employee</label>
        <locationX>1123</locationX>
        <locationY>261</locationY>
        <connector>
            <targetReference>Employee_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>EmployeeToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Employee_Check</name>
        <label>Employee Check</label>
        <locationX>614</locationX>
        <locationY>244</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Employee_Exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>First_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmployeeToCreate.First_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Last_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmployeeToCreate.Last_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmployeeToCreate.Phone__c</elementReference>
            </value>
        </filters>
        <object>Employee__c</object>
        <outputReference>OldEmployee</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Employee_Already_Exists</name>
        <label>Employee Already Exists</label>
        <locationX>386</locationX>
        <locationY>433</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Employee_Name</targetReference>
        </connector>
        <fields>
            <name>EmployeeExistsMessage</name>
            <fieldText>&lt;p&gt;This Employee already exists. Please enter a new employee.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Employee_Contact_and_Address</name>
        <label>Employee Contact and Address</label>
        <locationX>818</locationX>
        <locationY>419</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Employee_Education</targetReference>
        </connector>
        <fields>
            <name>EmployeeEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EmployeeToCreate.Email__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>EmployeeAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EmployeeToCreate.City__c</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>EmployeeToCreate.Zip__c</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>EmployeeToCreate.State__c</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>EmployeeToCreate.Street_Address__c</assignToReference>
                <name>street</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Social_Security_Number</name>
            <dataType>Number</dataType>
            <fieldText>Social Security Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Employee_Created</name>
        <label>Employee Created</label>
        <locationX>1244</locationX>
        <locationY>261</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Submit_Approval</targetReference>
        </connector>
        <fields>
            <name>EmployeeCreated</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The candidate you entered, {!EmployeeToCreate.First_Name__c} {!EmployeeToCreate.Last_Name__c}, has been created.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Employee_Education</name>
        <label>Employee Education</label>
        <locationX>954</locationX>
        <locationY>420</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Store_Lookup_Screen</targetReference>
        </connector>
        <fields>
            <name>School_Attended</name>
            <dataType>String</dataType>
            <fieldText>School Attended</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Degree_Received</name>
            <dataType>String</dataType>
            <fieldText>Degree Received</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>GPA</name>
            <dataType>Number</dataType>
            <fieldText>GPA</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>4</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Employee_Name</name>
        <label>Employee Name</label>
        <locationX>444</locationX>
        <locationY>245</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Employee_Check</targetReference>
        </connector>
        <fields>
            <name>FullName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EmployeeToCreate.First_Name__c</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>EmployeeToCreate.Last_Name__c</assignToReference>
                <name>lastName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>EmployeePhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EmployeeToCreate.Phone__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>618</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Employee_Name</targetReference>
        </connector>
        <fields>
            <name>Fault</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Store_Lookup_Screen</name>
        <label>Store Lookup Screen</label>
        <locationX>1049</locationX>
        <locationY>613</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Values_to_Employee</targetReference>
        </connector>
        <fields>
            <name>StoreLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Store__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Parent of this Employee</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Store__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>StoreRecordId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Store_Picklist_Screen</name>
        <label>Store Picklist Screen</label>
        <locationX>740</locationX>
        <locationY>639</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>StorePicklist</name>
            <choiceReferences>Stores</choiceReferences>
            <dataType>String</dataType>
            <fieldText>StorePicklist</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>226</locationY>
        <connector>
            <targetReference>Employee_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EmployeeToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee__c</objectType>
    </variables>
    <variables>
        <name>OldEmployee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee__c</objectType>
    </variables>
    <variables>
        <name>StoreRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
