force-app/main/default/flows/Create_Owner_for_Store_after_creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Edit_Default_Owner_Info</name>
        <label>Edit Default Owner Info</label>
        <locationX>769</locationX>
        <locationY>281</locationY>
        <actionName>FeedItem.NewTaskFromFeedItem</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Description</name>
            <value>
                <stringValue>Edit Owner Info for recently created Owner Record.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>OwnerRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <description>Automatically creates a related Owner record after the creation of a Store record</description>
    <interviewLabel>Create Owner for Store after creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Owner for Store after creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_an_Owner_Record</name>
        <label>Create an Owner Record</label>
        <locationX>529</locationX>
        <locationY>237</locationY>
        <connector>
            <targetReference>Edit_Default_Owner_Info</targetReference>
        </connector>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <stringValue>NEWEMAIL@EXAMPLE.COM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <stringValue>NEW OWNER</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Store__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Store_Owner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_an_Owner_Record</targetReference>
        </connector>
        <object>Store__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>OwnerRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Store_Owner__c</objectType>
    </variables>
    <variables>
        <name>StoreOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Store_Owner__r.Id</elementReference>
        </value>
    </variables>
</Flow>
